@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark,
    cupcake;
}

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-jost: "Jost", sans-serif;
}

body {
  font-family: var(--font-jost);
}
